%%
%% rebar3 configuration file
%%


{erl_opts, [fail_on_warning,
            {i, "../../include"}, {i, "../include"}, {i, "./include"}
           ]}.

{profiles, [
    {prod, [{erl_opts, [debug_info, 
                        warnings_as_errors, 
                        nowarn_unused_function,
                        {d, 'NOTEST'}]}
           ]},
    {native, [
        {erl_opts, [{native, o3}]}
    ]},
    {test, [
        {deps, [{'em', {git, "https://github.com/cypherfox/erlymock.git", {branch, "master"}}}
                ]},
        {cover_enabled, true},
        {eunit_opts, [verbose,
                      debug_info,
                      {d, 'TEST'}
                     ]}
    ]}
]}.


